.nested__link{
    width: 95%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 13px;
    border-bottom: 1px solid #393C49;
    &__link{
        color:#fff;
        font-size: 18px;
        padding: 16px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
    }
}