.home__content{
    padding: 5px 38px 50px 10px;
    height: 30%;
    overflow-y: auto;
    &__list{
        display: flex;
        align-items:center;
        justify-content: space-between;
        text-align: center;
        padding: 0;
        margin: 0;
        list-style-type:none;
        flex-wrap: wrap;
    }
   
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }